<?xml version="1.0"?>
<configuration>
	<system.webServer>
    <security>
      <requestFiltering>
         <requestLimits maxAllowedContentLength="15728640" />
      </requestFiltering>
   </security>
	   <httpProtocol>
		 <customHeaders>
		   <add name="Access-Control-Allow-Origin" value="*" />
		 </customHeaders>
	   </httpProtocol>
	 </system.webServer>
  <system.web>
    <httpRuntime maxRequestLength="15729"/>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
      </assemblies>
    </compilation>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>